.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-label {
        font-size: 0.8em;
        margin: 10px 0 0 42px;
    }
    .input,
    .deskinput {
        -webkit-appearance: none !important;
        background: #fff;
        padding: 5px;
        border-radius: 6px;
        border: 1px solid #ccc;
        height: 30px;
        outline: none;
        width: 80%;
        font-size: 14px;
        margin: 0 auto;
    }

    .input:focus {
        border-color: #49beae;
    }

    .input:active {
        outline: none;
    }

    .input-error {
        margin: 0 0 0 42px;
        font-size: 0.8em;
        color: red;
    }
    .input-error::after {
        color: #fff;
        content: "-";
    }
}

@media (min-width: 768px) {
    .input-wrapper {
        width: auto;
        .input-label {
            font-size: 0.8em;
            margin: 10px 0 0 0;
        }
        .input {
            width: 435px;
        }
        .deskinput {
            width: 200px;
            &.first {
                margin-right: 20px;
            }
        }
        .input-error {
            margin: 0;
        }
    }
}
