.download-img-wrapper {
    width: 90%;
    margin: 30px 10px 10px 10px;

    .img-home {
        width: 100%;
        height: auto;
    }

    .btn-wrapper {
        width: 100%;
        height: 30px;
        background-color: green;

        .btn-download {
            width: 100%;
            height: 100%;
            background-color: #a6f6f1;
            outline: none;
            border-width: 0px;
            border-style: none;
            cursor: pointer;
        }
        .btn-download:hover {
            background-color: #e4fcfa;
        }
    }
}

@media (min-width: 768px) {
    .download-img-wrapper {
        width: 30%;
    }
}
