.connect-btn {
    padding: 5px;
    margin: 10px 0 0 0;
    cursor: pointer;
    border-width: 0px;
    border-style: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: #f59840;
}
.connect-btn:active {
    background-color: #7e3f03;
}
