.author-image-wrapper {
    width: 90%;
    .author-image {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .author-image-wrapper {
        width: 30%;
        .author-image {
            width: 100%;
            height: auto;
        }
    }
}
